<!doctype html>
<head>
    <title>Stats Summary</title>
</head>
<body>
<p>Recent Commands (in the last hour)</p>
<table>
    <tr>
        <th>Timestamp</th>
        <th>Server</th>
        <th>Command</th>
    </tr>
    {% for command in commands %}
    <tr>
        <td>{{ command.timestamp }}</td>
        <td>{{ command.server }}</td>
        <td>{{ command.command }}</td>
    </tr>
    {% endfor %}
</table>

<p>Statistical Counters</p>
<table>
    <tr>
        <th>Statistic</th>
        <th>Counter</th>
    </tr>
    {% for stat in stats %}
    <tr>
        <td>{{ stat.stat }}</td>
        <td>{{ stat.value }}</td>
    </tr>
    {% endfor %}
</table>

</body>